$textColor: rgba(200, 200, 200, 0.8);
$backgroundColor: rgb(20, 20, 20);

body{
    background-color: $backgroundColor;
    color: $textColor;
}

p{
    width: 100%;
    text-align: center;
}

a{
    &:link, &:visited{
        color: $textColor;
    }
}

.hide{
    opacity: 0;
    transition: opacity 400ms;
    -webkit-transition: opacity 400ms;
}

.show{
    transition: opacity 400ms;
    -webkit-transition: opacity 400ms;
    
    opacity: 1;
}

.guide{
    position: absolute;
}
    

#up{
    top: 0;
    width: 100%;
}

#left{
    left: 0;
    top: 50%;
    text-align: left;
}

#right{
    right: 0;
    top: 50%;
    text-align: right;
}

#down{
    bottom: 0;
    width: 100%;
}



    
    
