$textColor: rgba(200, 200, 200, 0.8);
$backgroundColor: rgb(20, 20, 20);
//$twoCol: @media only screen and (min-width: 1440px) { 
   

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-edodjp');
	src:url('fonts/icomoon.eot?#iefix-edodjp') format('embedded-opentype'),
		url('fonts/icomoon.woff?-edodjp') format('woff'),
		url('fonts/icomoon.ttf?-edodjp') format('truetype'),
		url('fonts/icomoon.svg?-edodjp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'exo';
    src: url('fonts/exo2.0-light-webfont.eot');
    src: url('fonts/exo2.0-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/exo2.0-light-webfont.woff') format('woff'),
         url('fonts/exo2.0-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}



body{
    background-color: $backgroundColor;
    color: $textColor;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'exo';
    overflow: hidden;
}

p{
    width: 100%;
    text-align: center;
    font-size: 1em;
    
    z-index: 100;
    position: absolute;
    &:before, &:after{
        font-family: 'icomoon';
        font-size: 1.5em;
        position: relative;
    }
}

a{
    &:link, &:visited{
        color: $textColor;
    }
    
}

.hide{
    opacity: 0;
    transition: opacity 400ms;
    -webkit-transition: opacity 400ms;
}

.show{
    transition: opacity 400ms;
    -webkit-transition: opacity 400ms;
    
    opacity: 1;
}

#join{
    position: absolute;
    top: 35%;
}
    
#tilt{
    top: 35%;
    
}

#thisIsYou{
    top: 25%;
}

#speed{
    bottom: 2.5em;
    &:before{
        content: "\e602";
        display: block;
        width: 100%;
        margin-bottom: -6px;
    }
    &:after{
        content: "\e601";
        display: block;
        width: 100%;
        margin-bottom: 6px;
    }
}

#steer{
    bottom: 0.25em;
    &:before{
        top: 6px;
        content: "\e600";
        
    }
    &:after{
        top: 6px;
        content: "\e603";
    }
    
}

img{
    
    max-width: 100%;
    max-height: 80%;
    opacity: 0.7;
    display: block;
    margin: 0 auto;
}

.left, .right{
    width: 100%;
    @media screen and (orientation: landscape){
        position: absolute;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
    }
    
}

.left{
    
   @media screen and (orientation: landscape){
       left: -10%;
       top: 10%; 
   }
}

.right{
    
   @media screen and (orientation: landscape){
       left: 50%;
       top: 50%;
   } 
}



    
    
